@import url('https://fonts.googleapis.com/css?family=Roboto');

.menubar {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white; 
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
}

.fa-github-alt {
    font-size: 25px;
    margin-right: 3px;
}